<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.PostgreSQLDialect
        </property>

        <property name="hibernate.connection.driver_class">
            org.postgresql.Driver
        </property>

        <property name = "hibernate.connection.url">
            <!-- DEFINE POSTGRESQL CONNECTION URL -->
        </property>

        <property name="hibernate.connection.username">
            <!-- DEFINE POSTGRESQL USERNAME -->
        </property>

        <property name="hibernate.connection.password">
            <!-- DEFINE POSTGRESQL PASSWORD -->
        </property>

        <!-- List of XML Mapped Classes -->
        <mapping package="org.opencejav.spadesuite.models.pojo"/>
        <mapping class="org.opencejav.spadesuite.models.pojo.AddressPOJO"/>
        <mapping class="org.opencejav.spadesuite.models.pojo.EmailPOJO"/>
        <mapping class="org.opencejav.spadesuite.models.pojo.LeasePOJO"/>
        <mapping class="org.opencejav.spadesuite.models.pojo.PhonePOJO"/>
        <mapping class="org.opencejav.spadesuite.models.pojo.PropertyOwnerPOJO"/>
        <mapping class="org.opencejav.spadesuite.models.pojo.PropertyPOJO"/>
        <mapping class="org.opencejav.spadesuite.models.pojo.TenantPOJO"/>
        <mapping class="org.opencejav.spadesuite.models.pojo.UnitPOJO"/>
    </session-factory>
</hibernate-configuration>